<h1 class="text-2xl mb-4 font-bold">Listings</h1>

<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <% @listings.each do |listing| %>
    <div class="max-w-xs">
      <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <% if !listing.photos.first.nil? && listing.photos.first.photo.attached? %>
          <%= image_tag listing.photos.first.photo.variant(:host_listings_thumb), class: "w-full h-auto rounded-t-xl" %>
        <% else %>
          <img class="w-full h-auto rounded-t-xl" src="https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070_960_720.jpg" alt="Image Description">

        <% end %>
        <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white">
            <%= listing.title %> - <%= number_to_currency(listing.nightly_price) %> per night
          </h3>

          <p class="mt-1 text-gray-800 dark:text-gray-400">
            <%= listing.about %>
          </p>
          <p class="mt-1 text-gray-800 dark:text-gray-400">
            <%= listing.address %>
          </p>
          <p class="mt-1 text-gray-800 dark:text-gray-400">
            Host: <%= listing.host.full_name %> <%= listing.host.email %>
          </p>

          <div class="mt-4">
            <%= link_to "See Details", listing_path(listing), class:"py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
