<h1 class="text-2xl mb-4 font-bold"><%= @listing.title %></h1>
<%= link_to listings_path, class: "mb-4 inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline" do %>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
  </svg>
  Back to all listings
<% end %>

<p>
  <%= @listing.city %>, <%= @listing.state %>
</p>

<p>
  <%= @listing.about %>
</p>

<p>
  <%= @listing.max_guests %>
</p>

Rooms:
<ul>
  <% @listing.rooms.each do |room| %>
    <li>
      <%= room.room_type.titleize %>. Number of beds: <%= room.beds.count %>
    </li>
  <% end %>
</ul>

<div>
  <h2>Host</h2>
  <%= @listing.host.full_name %> <br>
  <%= @listing.host.email %>
</div>

<%= form_with model: @reservation, data: { turbo: false } do |form| %>
  <%= form.hidden_field :listing_id %>
  <%= form.submit "Create Reservation", class:"py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" %>
<% end %>
