<h1 class="text-2xl font-bold mb-4">Edit Listing <%= @listing.title %></h1>
<%= form_with model: [:host, @listing], class: "space-y-8" do |form| %>
  <% if @listing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@listing.errors.count, "error") %>
        prohibited this @listing from being saved:</h2>

      <ul>
        <% @listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="sm:col-span-6">
    <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :title, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
  </div>
  <div class="sm:col-span-6">
    <%= form.label :about, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :about, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="sm:col-span-6">
    <%= form.label :max_guests, class: "block text-sm font-medium text-gray-700" %>
    <%= form.number_field :max_guests, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md", in: 1..100, step: 1 %>
  </div>

  <div class="sm:col-span-6">
    <%= form.label :status, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :status, options_for_select((Listing.statuses.map {|key, value| [key.titleize, key]}), @listing.status), {}, {class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"} %>
  </div>

  <div class="sm:col-span-6">
    <%= form.submit class:"py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" %>
    <%= link_to "Cancel", host_listing_path(@listing), class:"py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-semibold bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-gray-800 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800" %>
  </div>
<% end %>
