<h1 class="text-2xl mb-4 font-bold">Listings</h1>

<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <% @listings.each do |listing| %>
    <div class="max-w-xs">
      <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <img class="w-full h-auto rounded-t-xl" src="https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070_960_720.jpg" alt="Image Description">
        <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white">
            <%= listing.title %>
          </h3>
          <%# Flowbite Badges https://flowbite.com/docs/components/badge/ %>
          <% if listing.status == "draft" %>
            <span class="bg-yellow-100 text-yellow-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900"><%= listing.status.titleize %></span>
          <% elsif listing.status == "published" %>
            <span class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900"><%= listing.status.titleize %></span>
          <% elsif listing.status == "archived" %>
            <span class="bg-gray-100 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"><%= listing.status.titleize %></span>
          <% end %>

          <p class="mt-1 text-gray-800 dark:text-gray-400">
            <%= listing.about %>
          </p>
          <p class="mt-1 text-gray-800 dark:text-gray-400">
            <%= listing.address %>
          </p>
          <div class="flex justify-between mt-4">
            <%= link_to "See Details", host_listing_path(listing), class: "py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" %>
            <%# button_to "Delete", host_listing_path(listing), class: "flex justify-center py-2 px-4 mt-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
            <%= button_to "Delete", host_listing_path(listing), class: "py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-gray-800 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800", method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
