<h1>List your property</h1>
<%= form_with model: [:host, @listing] do |form| %>
  <% if @listing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@listing.errors.count, "error") %>
        prohibited this @listing from being saved:</h2>

      <ul>
        <% @listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :about, class: "form-label" %>
    <%= form.text_area :about, class: "form-control" %>
  </div>

  <%# Listen for mapLoadedEvent events. When that happens, execute initGoogle() function
  in address controller. %>
    <div
      class="mb-3"
      data-controller="address"
      data-action="mapLoadedEvent@window->address#initGoogle"
    >
      <%= form.label :address %>
      <%= form.text_field :address, autocomplete: "off" %>
      <%# <input type="text" name="address" id="address" autocomplete="off"> %>

      <%# The following hidden fields will be populated by data we receive from Google %>
      <%= form.hidden_field :address_line1 %>
      <%= form.hidden_field :address_line2 %>
      <%= form.hidden_field :city %>
      <%= form.hidden_field :state %>
      <%= form.hidden_field :postal_code %>
      <%= form.hidden_field :country %>
      <%= form.hidden_field :latitude %>
      <%= form.hidden_field :longitude %>
    </div>

    <div class="mb-3">
      <%= form.label :max_guests, class: "form-label" %>
      <%= form.number_field :max_guests, class: "form-control", in: 1..100, step: 1 %>
    </div>

    <%= form.submit %>
  <% end %>
