<h1 class="text-2xl mb-4 font-bold"><%= @listing.title %></h1>

<%= link_to host_listings_path, class: "mb-4 inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline" do %>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
  </svg>
  Back to all listings
<% end %>

<pre>
  <%= JSON.pretty_generate(@listing.as_json) %>
</pre>

<%= link_to "Edit Details", edit_host_listing_path(@listing), class: "py-2 px-4 mt-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
<%= link_to "Edit Rooms", host_listing_rooms_path(@listing), class: "py-2 px-4 mt-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
