<!DOCTYPE html>
<html>
  <head>
    <title>Clearbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google.maps %>&libraries=places&callback=initMap"
      defer
      data-turbolinks-eval="false"
    ></script>

  </head>

  <body>
    <%# controller_name %>
    <%# action_name %>
    <% if ["sessions", "registrations", "passwords", "confirmations", "unlocks"].include?(controller_name) %>
      <%= render "layouts/devise" %>
    <% else %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render "layouts/dashboard" %>
    <% end %>
  </body>
</html>
