<%# connects to room_controller.js %>
<div data-controller="room">
  <%# Form for creating a New Room %>
  <%= form_with model: [:host, :listing, room] do |form| %>
    <%= form.label :room_type, class: "mt-4 block text-sm font-medium text-gray-700" %>
    <%# form.collection_select :room_type, Room.room_types, :first, :first, {} , {class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"} %>
    <%= form.select :room_type, options_for_select(Room.room_types.map {|key, value| [key.titleize, key]}), {} , {class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"} %>

    <%# We have to create a new bed for the new room otherwise
      form.fields_for :beds will not generate anything because
      there are no beds for a new room %>
    <%  room.beds.build %>

    <%# Called this.bedFieldsTarget in room_controller.js %>
    <template data-room-target="bedFields">
      <div class="select-bed-container">

        <%# Fields for creating a bed %>
        <%= form.fields_for :beds do |bed_form| %>
          <%# room[beds_attributes][0][bed_size] %>
          <%= bed_form.label :bed_size, class: "block text-sm font-medium text-gray-700 mt-4" %>
          <%# select name="room[beds_attributes][0][bed_size]" %>
          <%= bed_form.select :bed_size, options_for_select(Bed.bed_sizes.map {|key, value| [key.titleize, key]}), {}, {class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"} %>
        <% end %>
      </div>
    </template>

    <fieldset data-room-target="beds" class="mt-4">
      <legend>Beds</legend>
    </fieldset>

    <%# When the button is clicked execute the addBed() function in the
        room controller (room_controller.js) %>
    <%= button_tag 'Add Bed', type: 'button', data: {action: "room#addBed"}, class:"mt-4 py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" %>

    <div class="mt-4">
      <%= form.submit "Add Room", class:"py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" %>
    </div>
  <% end %>
</div>
